.coinContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.08rem;
  box-sizing: border-box;
  overflow: hidden;
  background: #6a88be;
  width: 375px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.singleCoin {
  background: #305aa8;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0% 0.5rem;
}

.singleCoin span a {
  font-size: 18px;
}

.singleCoin:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

.coins-title {
  color: #fff;
  font-size: 18px;
}

.coin-title-container {
  width: 375px;
  margin: auto;
  text-align: center;
  padding: 0.3rem 0;
  background: #4369b2;
  margin-bottom: 0%;
  border-bottom: 1px solid #325ba7;
  border-top: 1px solid #305aa8;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.form {
  border: 1px solid #fff;
  border-radius: 1rem;
}

.form input {
  background: transparent;
  border: none;
  outline: none;
  width: 155px;
  color: #fff;
  padding-left: 0.5rem;
}

.form button {
  outline: none;
  border: none;
  background: transparent;
}

.form button i {
  color: #fff;
}

.form input::placeholder {
  color: #fff;
  padding-left: 0.5rem;
}

.singleCoin p {
  padding: 0%;
  margin: 0%;
  font-size: 18px;
  font-weight: 600;
}

.singleCoin span {
  align-self: flex-end;
}
