.show-case-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #305aa8;
  width: 100%;
  min-height: 8rem;
  color: #fff;
}

.show-case-section .showcaseimg {
  width: 100%;
  height: 100%;
  background: transparent !important;
  opacity: calc(100% - 70%);
}

.show-case-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.show-case-title h3 {
  text-align: center;
}
